.user-picture-container{
    margin: auto;
    margin-top: 25px;
    height: 63vh;
    overflow: auto;
}
.user-picture-container .user-picture{
    width: 33%;
    height: 115px;
    margin: 0px;
    padding: 0px;
   
}
@media screen and (min-width: 430px) {
    .user-picture-container{
        width: 90%;
    }
}
@media screen and (min-width: 490px) {
    .user-picture-container{
        width: 70%;
    }
}
@media screen and (min-width: 600px) {
    .user-picture-container{
        width: 60%;
    }
}
@media screen and (min-width: 740px) {
    .user-picture-container{
        width: 50%;
    }
}
@media screen and (min-width: 1000px) {
    .user-picture-container{
        width: 50%;
    }
    .user-picture-container .user-picture{
        width: 25%;
        height: 115px;
        margin: 0px;
        padding: 0px;
       
    }
}
@media screen and (min-width: 1200px) {
    .user-picture-container{
        width: 30%;
    }
    .user-picture-container .user-picture{
        width: 20%;
        height: 115px;
        margin: 0px;
        padding: 0px;
       
    }
}